.Gallery {
  width: 100%;
  column-count: 4;
  column-gap: 0;
}

.Gallery__Image {
  display: block;
  width: 100%;
  height: auto;
  break-inside: avoid;
}

@media (max-width: 1024px) {
  .Gallery {
    column-count: 3;
  }
}

@media (max-width: 768px) {
  .Gallery {
    column-count: 2;
  }
}
