.Gallery__ScrollSection {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.Gallery {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-columns: 30vw;
  gap: 0;
  place-content: center;
  height: 100vh;
  width: max-content;
}

.Gallery__Image {
  display: block;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
