.Header {
  position: fixed;
  top: var(--padding-page);
  left: var(--padding-page);
  right: var(--padding-page);
  display: flex;
  align-items: center;
  justify-content: space-between;
  mix-blend-mode: difference;
  z-index: 2;
}